html ,body,*{
	margin: 0;
	padding: 0;
	
	
}
p{
	font-size: 1.5em;

}
ul li{
	list-style: none;
}
a:link {color: rgba(103, 104, 99, 0.9);text-decoration: none;}		/* 未访问的链接 */
a:visited {color:rgba(103, 104, 99, 0.9) ;text-decoration: none;}	/* 已访问的链接 */
a:hover {color: rgba(255, 127, 80, 1);text-decoration: none;}	/* 鼠标移动到链接上 */
a:active {color: rgba(103, 104, 99, 0.9);text-decoration: none;}




div#onloading{
	position: absolute;
	width: 100%;
	height: 100%;
	
	background-color: rgba(163, 196, 187, 0.9);
}
svg{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
body{
	/*background-color: rgba(86, 149, 151, .4);*/
}
div#main{
	 /*position: relative;
	background-color:red;
	/*margin-top: 20%;*/*/
}
div#sidebar{
	position: fixed;
	width: 15%;
	height: 100%;
	/*display: none;*/
	/*border-right: 1px dashed rgba(198, 123, 84, 0.5);*/
	
}
div#sidebar ul{
	margin-top: 50%;
	display:flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
    /*align-content: stretch;*/
    /*align-items: center;*/
}
div#sidebar ul li{
	margin-top: 10%;
	text-align: center;
	/*border-right: 1px solid rgba(198, 123, 84, 1);*/
	font-size: 1.2em;
	color: rgba(103, 104, 99, 0.9);

}

div#content{
	/*background-color: blue;*/
	margin-left:15%;
	display:flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
    /*align-content: stretch;*/
    align-items: ;

}
div#content div{
	margin-top: 2%;

}
div#share{
	margin-left:5%;
	border-bottom: 1px solid rgba(0, 0, 0, .4);
	display: flex;
	flex-direction: column;
	/*background-color: rgba(255,255,255,.4);*/
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
    /*align-content: stretch;*/
    /*align-items: center;*/
}
div#share p{
	margin-left: 5%;
}
div#share iframe{
	margin: 1% 10%;
	width: 80%;

}
div#share img{
	width: 80%;
	margin: 1% 10%;
	box-shadow: 5px 5px  5px rgb(146, 173, 184);
	/*opacity: 0.6;*/
}

div#show{
	/*background-color: #546b83;*/
	/*flex:2;*/
	margin-left:5%;
}
div#show ul{
	display: flex;
	flex-direction: column;
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
    /*align-content: stretch;*/
    align-items: ;
}
div#show ul li{
	display: flex;
	flex-direction: row;
	
	
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
    /*align-content: stretch;*/
    align-items: ;
}
.time{
flex:2;
	border-top: 1px dashed  rgba(0, 0, 0, .6);
	
}
.showinfo{
	/*margin: 1% 10%;*/
	border-top: 1px dashed rgba(0, 0, 0, .6);
	

	flex:7;
}
.showinfo a{
	margin-left: 90%;
}
.fill{
flex:2;
}


div#upbar{
	position: fixed;
	bottom: 5%;
	right: 5%;
	/*background-color: green;*/
}
.sk-spinner-double-bounce.sk-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto; }
.sk-spinner-double-bounce .sk-double-bounce1, .sk-spinner-double-bounce .sk-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
          animation: sk-doubleBounce 2s infinite ease-in-out; }
.sk-spinner-double-bounce .sk-double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

